[submodule "Externals/Qt"]
	path = Externals/Qt
	url = https://github.com/dolphin-emu/ext-win-qt.git
	branch = master
[submodule "Externals/Sparkle"]
	path = Externals/Sparkle
	url = git@github.com:sparkle-project/Sparkle.git
	branch = 1.10.0
